*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}
.title{
font-size: 1rem;
}
div .nav-links{
   display: flex;
   text-align: center;
    list-style: none;
    
}
 .nav-links li{
    padding: .5rem;
}
.App i{
    display: none;
}
li:hover{
background-color: blue;
}
@media (max-width:400px) {
    .div1{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: center;
       
    }
    .App i{
        display: flex;
         position: absolute;
         top: 1%;
         left: 1%;
    }
    .nav2{
        display: flex;
        flex-direction: column;
      
        background-color: burlywood;
    }
   div .nav-links-active{
     flex-direction: column;
    width: 100%;
   }
  .nav2 .div1{
      display: flex;
  }
  .title{
      text-align: center;
  }
  .nav-links-active li{
      text-align: center;
      padding: 5px;
  }
   
}