.App{
  height: 400px;
  width: 400px;
  background-color: brown;

}

.child{
  height: 50%;
  width: 50%;
  background-color: cornsilk;
  animation: trbl 1s forwards infinite alternate;
}


.App:hover .child{
  animation-play-state: paused;
}

@keyframes trbl {
  0%{
    transform:translateX(0%)
    
  }
  33%{
    transform: translateY(100%);
  }
  66%{
    transform: translateX(100%) translateY(100%);
  }
  100%{
    transform: translateX(100%);
  }
}